{% if post.id %}
  {% assign title = post.title | markdownify | remove: "<p>" | remove: "</p>" %}
{% else %}
  {% assign title = post.title %}
{% endif %}
{% if post.disabled %}
{% else %}
<div class="{{ include.type | default: "list" }}__item">
  <article>
    <h2 class="page__title">
        <a href="{{ base_path }}{{ post.url}}" rel="permalink">{{ title }}</a>
    </h2>
    {% if post.excerpt %}
    <p class="archive__item-excerpt" itemprop="description">{{ post.excerpt | markdownify | strip_html | truncate: 160 }}</p>
    {% endif %}
    <!-- <a href="{{ base_path }}{{ post.url}}" class="button is-small is-link">learn more</a> -->
  </article>
</div>
{% endif %}
