<div id="{{ include.url }}" style="display: none;">
  {{ include.code }}
</div>

<div class="snippet">
  <div class="code-render {% if include.inverse == 'true' %}is-inverse{% endif %}">
    <iframe id="iframe" class="resizable-area" onload="resizeIframe(this, '{{ include.url }}')"
       {% if include.height %}style="height:{{ include.height }}px;" {% endif %}></iframe>
    <div class="resizable-bar" id="resizable-bar" draggable="true">
      <span class="d-icon d-drag-handle rotate-90 is-medium"></span>
    </div>
  </div>
  <div class="code-container">
    <div class="code-nav tabs is-secondary has-bg-grey-800 is-inverse radius-tl-6 radius-tr-6">
      <ul>
        <li class="is-active"><a class="code-item">HTML</a></li>
      </ul>
    </div>
    <div class="code-content">
      <pre
        class="highlight html"><code class="language-html"
          data-lang="html">{% highlight html %}{{ include.code }}{% endhighlight %}</code></pre>
    </div> 
    <div class="code-action p-b-20 p-x-20">
      <button class="expand button is-outline is-inverse is-medium">Expand</button>
      <button class="copy button is-outline is-inverse is-medium m-l-10 xs-hide">Copy Code</button>
    </div>
  </div>
</div>