<div class="color-selects">
    <div class="input-group is-stacked">
        <label>Foreground</label>
        <div class="input has-arrow">
            <select name="" id="foregroundHexColorText">
                <option disabled="" selected="">Select foreground color</option>
                {% for colorgroup in site.data.displayColors.display-order-palettes %}
                {% assign color = site.data.displayColors.[colorgroup] %}
                {% assign color-family = colorgroup %}
                <option disabled="">{{ color-family }}</option>
                {% for symbol in color.colors %}
                <option value="{{ symbol.hex }}">{{ color-family }}-{{ symbol.weight }}</option>
                {% endfor %}
                {% endfor %}

                {% for colorgroup in site.data.displayColors.display-order-expanded %}
                {% assign color = site.data.displayColors.[colorgroup] %}
                {% assign color-family = colorgroup %}
                <option disabled="">{{ color-family }}</option>
                {% for symbol in color.colors %}
                <option value="{{ symbol.hex }}">{{ color-family }}-{{ symbol.weight }}</option>
                {% endfor %}
                {% endfor %}
            </select>
        </div>
    </div>

    <div class="input-group is-stacked">
        <label>Background</label>
        <div class="input has-arrow">
            <select name="" id="backgroundHexColorText">
                <option disabled="" selected="">Select background color</option>
                {% for colorgroup in site.data.displayColors.display-order-palettes %}
                {% assign color = site.data.displayColors.[colorgroup] %}
                {% assign color-family = colorgroup %}
                <option disabled="">{{ color-family }}</option>
                {% for symbol in color.colors %}
                <option value="{{ symbol.hex }}">{{ color-family }}-{{ symbol.weight }}</option>
                {% endfor %}
                {% endfor %}

                {% for colorgroup in site.data.displayColors.display-order-expanded %}
                {% assign color = site.data.displayColors.[colorgroup] %}
                {% assign color-family = colorgroup %}
                <option disabled="">{{ color-family }}</option>
                {% for symbol in color.colors %}
                <option value="{{ symbol.hex }}">{{ color-family }}-{{ symbol.weight }}</option>
                {% endfor %}
                {% endfor %}
            </select>
        </div>
    </div>
</div>

<div class="color-demo">
    <h2>Large Text - 26px</h2>
    <p>Small Text - 14px</p>
</div>

<div class="color-results">
    <div class="result">
        <p>Contrast Ratio</p>
        <p id="contrast">3.72:1</p>
    </div>
    <div class="result">
        <p>Text</p>
        <p id="text" class="fail">FAIL</p>
    </div>
    <div class="result">
        <p>Headlines</p>
        <p id="headline" class="success">AA</p>
    </div>
    <div class="result">
        <p>Components</p>
        <p id="component" class="success">AA</p>
    </div>
</div>

<script src="{{ site.url }}/assets/scripts/color-checker.js"></script>

<script>
    var foregroundHexColor = "#004CB3";
    var foregroundTextInput = document.getElementById("foregroundHexColorText");
    var backgroundHexColor = "#CCE2FF";
    var backgroundTextInput = document.getElementById("backgroundHexColorText");

    checkColors(foregroundHexColor, backgroundHexColor);

    function setText() {
        if (colorData.aaaText === true) {
            document.getElementById('text').innerHTML = "AAA"
            if (document.getElementById('text').classList.contains("fail")) {
                document.getElementById('text').classList.remove("fail");
            }
            document.getElementById('text').classList.add("success");
        } else if (colorData.aaText === true && colorData.aaaText === false) {
            document.getElementById('text').innerHTML = "AA"
            if (document.getElementById('text').classList.contains("fail")) {
                document.getElementById('text').classList.remove("fail");
            }
            document.getElementById('text').classList.add("success");
        } else {
            document.getElementById('text').innerHTML = "FAIL"
            if (document.getElementById('text').classList.contains("success")) {
                document.getElementById('text').classList.remove("success");
            }
            document.getElementById('text').classList.add("fail");
        }
    }

    function setHeadline() {
        if (colorData.aaaHeadline === true) {
            document.getElementById('headline').innerHTML = "AAA"
            if (document.getElementById('headline').classList.contains("fail")) {
                document.getElementById('headline').classList.remove("fail");
            }
            document.getElementById('headline').classList.add("success");
        } else if (colorData.aaHeadline === true && colorData.aaaHeadline === false) {
            document.getElementById('headline').innerHTML = "AA"
            if (document.getElementById('headline').classList.contains("fail")) {
                document.getElementById('headline').classList.remove("fail");
            }
            document.getElementById('headline').classList.add("success");
        } else {
            document.getElementById('headline').innerHTML = "FAIL"
            if (document.getElementById('headline').classList.contains("success")) {
            document.getElementById('headline').classList.remove("success");
            }
            document.getElementById('headline').classList.add("fail");
        }
    }

    function setComponent() {
        if (colorData.aaComponent === true) {
            document.getElementById('component').innerHTML = "AA"
            if (document.getElementById('component').classList.contains("fail")) {
                document.getElementById('component').classList.remove("fail");
            }
            document.getElementById('component').classList.add("success");
        } else {
            document.getElementById('component').innerHTML = "FAIL"
            if (document.getElementById('component').classList.contains("success")) {
                document.getElementById('component').classList.remove("success");
            }
            document.getElementById('component').classList.add("fail");
        }
    }

    function setVariables() {
        document.body.style.cssText = "--foreground-color:"+foregroundHexColor+"; --background-color:"+backgroundHexColor+";"
        document.getElementById('contrast').innerHTML = colorData.contrast + ":1";
        setText()
        setHeadline()
        setComponent()
    }

    setVariables();

    foregroundTextInput.addEventListener("input", function(){
        foregroundHexColor = foregroundTextInput.value;
        checkColors(foregroundHexColor, backgroundHexColor);
        setVariables();
    });

    backgroundTextInput.addEventListener("input", function(){
        backgroundHexColor = backgroundTextInput.value;
        checkColors(foregroundHexColor, backgroundHexColor);
        setVariables();
    });
</script>