<div class="input has-icon-back m-t-10 m-b-20" style="width:100%; max-width:460px;">
  <input id="{{ include.id }}" type="text" value="{{ include.copy-text }}" onclick="copyInputValue('{{ include.id }}')"/><a class="d-icon d-duplicate is-sub"></a>
</div>

<script type="text/javascript">
  function copyInputValue(inputId) {
    var copyText = document.getElementById(inputId);
    copyText.select();
    copyText.setSelectionRange(0, 99999)
    document.execCommand("copy");

    var copyAlert = document.getElementById('copyColorAlert');

    if (copyAlert.classList.contains('animate')) {
      copyAlert.classList.remove('animate');
    };

    copyAlert.classList.add('animate');

    setTimeout(function(){ copyAlert.classList.remove('animate'); }, 3000);
  }
</script>
