<div class="denali-features container">
    {% for feature in include.features %}
    <section class="section denali-feature-item">
        <div class="container">
            <div class="image">
                <img src="{{ site.baseurl }}/assets/images/{{ feature.image }}" />
            </div>
            <div class="details">
                <h2 class="title">{{ feature.title }}</h2>
                <p>{{ feature.excerpt }}</p>
            </div>
        </div>
    </section>
    {% endfor %}
    <div class="get-started">
        <a href="{{ site.baseurl }}/get-started" class="button is-primary">Get Started</a>
    </div>
</div>
