<style media="screen">
  .download-box {
    background: #f8f8f8;
    border-radius: 20px;
  }

  .download-box > .image {
    height: 50px;
    width: 50px;
  }

  .download-box > .image > img {
    height: 50px;
    width: 50px;
  }
</style>

<div class="flex">
  <a class="download-box flex flex-row p-10 align-items-center">
    <div class="image">
      <img src="/assets/images/zipped-file.png" alt="">
    </div>
    <div class="content p-x-20">
      <h4>Excerise Files</h4>
      <h6 class="is-light">HTML & CSS</h6>
    </div>
  </a>
</div>
