<footer class="footer">
  <!-- <div class="container-full">
    {% if page.previous.url %}
    <a class="box column space-between is-secondary align-items-center" href="{{site.baseurl}}{{page.previous.url}}">
      <span class="d-icon d-arrowhead-left"></span>
      <h3>{{page.previous.title}}</h3>
    </a>
    {% endif %}
    {% if page.next.url %}
    <a class="box column space-between is-secondary align-items-center" href="{{site.baseurl}}{{page.next.url}}">
      <h3>{{page.next.title}}</h3>
      <span class="d-icon d-arrowhead-right"></span>
    </a>
    {% endif %}
  </div> -->

  <div class="footer-cta">
    <div class="cta-contribute">
      <div class="cta-content">
        <h2 class="is-grey-100">Can't find what you're looking for?</h2>
        <p class="is-grey-100 m-t-10">If you think we could improve something, make suggestions on our GitHub page or help contribute by making a pull request.</p>
        <a href="https://github.com/denali-design" target="_blank" class="button is-ghost is-inverse is-large m-t-20">
          <i class="d-icon d-github is-small"></i>
          Denali Git
        </a>
      </div>
      <div class="cta-img"></div>
    </div>
  </div>

  <div class="footer-links flex space-between">
    <ul>
      <li class="header">Denali</li>
      <li><a href="{{ site.data.navigation.static.docs }}guides/get-started">Documentation</a></li>
      <li><a href="{{ site.data.navigation.static.principles }}">Principles</a></li>
      <li><a href="/browsers">Browser Support</a></li>
    </ul>

    <ul>
      <li class="header">Repositories</li>
      <li><a href="https://github.com/denali-design/denali-css" target="_blank">Web Components</a></li>
      <li><a href="https://github.com/denali-design/denali-icon-font" target="_blank">Icon Font</a></li>
      <li><a href="https://github.com/denali-design/denali-icons-svg" target="_blank">Icons SVG</a></li>
    </ul>

    <ul class="xs-hide sm-hide">
      <li class="header">Resources</li>
      <li><a href="{{ site.data.navigation.static.resources }}#templates">HTML Templates</a></li>
      <li><a href="{{ site.data.navigation.static.resources }}#ui-kits">Ui Kits</a></li>
      <li><a href="{{ site.data.navigation.static.resources }}#sketch-libraries">Libraries</a></li>
    </ul>

    <ul>
      <li class="header">Support</li>
      <li><a href="https://join.slack.com/t/denali-design/shared_invite/enQtNzk0MTE2NjU3MzE0LTM5NWFmMGFmZmFhZjVhMzdjMzYzMDQ4ZGNhZjYxNGUwMzgxMWRmODc4MWIzYTE3YzQ5OWMyM2IzMTkxZGExYWY" target="_blank">Slack Org</a></li>
      <li><a href="https://github.com/denali-design/denali-site/issues" target="_blank">Github Issues</a></li>
    </ul>
  </div>

  <div class="footer-social flex space-between">
    <h6 class="is-grey-600">Copyright © 2019, Oath Inc.</h6>
    <div>
      <a href="https://medium.com/denali-design" target="_blank" class="is-secondary m-l-16"><span class="d-icon d-medium is-sub is-small"></span></a>
      <a href="https://twitter.com/denali_design" target="_blank" class="is-secondary m-l-16"><span class="d-icon d-twitter is-sub is-small"></span></a>
      <a href="https://join.slack.com/t/denali-design/shared_invite/enQtNzk0MTE2NjU3MzE0LTM5NWFmMGFmZmFhZjVhMzdjMzYzMDQ4ZGNhZjYxNGUwMzgxMWRmODc4MWIzYTE3YzQ5OWMyM2IzMTkxZGExYWY" target="_blank" class="is-secondary m-l-16"><span class="d-icon d-slack is-sub is-small"></span></a>
      <a href="https://github.com/denali-design" target="_blank" class="is-secondary m-l-16"><span class="d-icon d-github is-sub is-small"></span></a>
    </div>
  </div>
</footer>

{% if site.site_debug %}
{% include site-debug.html %}
{% endif %}
