<footer class="footer">
  <!-- <div class="row">
    {% if page.previous.url %}
    <a class="box column space-between is-secondary align-items-center" href="{{site.baseurl}}{{page.previous.url}}">
      <span class="d-icon d-arrowhead-left"></span>
      <h3>{{page.previous.title}}</h3>
    </a>
    {% endif %}
    {% if page.next.url %}
    <a class="box column space-between is-secondary align-items-center" href="{{site.baseurl}}{{page.next.url}}">
      <h3>{{page.next.title}}</h3>
      <span class="d-icon d-arrowhead-right"></span>
    </a>
    {% endif %}
  </div> -->
    <div class="container-full m-t-40">
      <div class="row">
        <div class="col">
          <h6 class="upper is-grey-600">Copyright © 2019, Oath Inc.</h6>
        </div>
      </div>
    </div>
</footer>

{% if site.site_debug %}
{% include site-debug.html %}
{% endif %}
