{% assign base_path = site.url | append: site.baseurl %}
<base href="{{ base_path }}/">
<meta charset="utf-8" />

{% include seo.html %}
{% include meta.html %}
{% include analytics.html %}

<link href="{% if site.atom_feed.path %}{{ site.atom_feed.path }}{% else %}{{ site.baseurl }}/feed.xml{% endif %}" type="application/atom+xml" rel="alternate" title="{{ site.title }} Feed">

<script>
  document.documentElement.className = document.documentElement.className.replace(/\bno-js\b/g, '') + ' js ';

  // Resize iframe
  function resizeIframe(obj, codeElement) {
    var htmlCode = document.getElementById(codeElement).innerHTML;
    var iframe = obj.contentWindow.document;

    var parentUrl = window.location.href;
    var cssLink;
    // console.log(parentUrl)

    if (parentUrl.includes("1.0.3")) {
      cssLink = '<link rel="stylesheet" href="/assets/css/denali-1.0.3.css">';
    } else if (parentUrl.includes("2.0.0")) {
      cssLink = '<link rel="stylesheet" href="/assets/css/denali-2.0.0.css">';
    } else if (parentUrl.includes("2.1.0")) {
      cssLink = '<link rel="stylesheet" href="/assets/css/denali.css">';
    } else {
      console.log("No version specified");
    }

    iframe.writeln('<link rel="stylesheet" href="/assets/fonts/denali-icon-font.css">' + cssLink + ' ' + htmlCode);

    var frameHeight = obj.contentWindow.document.body.offsetHeight + 24;
    obj.style.height = frameHeight + 'px';

    var frameSnippet = (obj.contentWindow || obj.contentDocument);
    if (frameSnippet.document) frameSnippet = frameSnippet.document;
    frameSnippet.body.style.background = "transparent";
    frameSnippet.body.style.margin = "10px";
  }
</script>

<link rel="stylesheet" href="{{ site.baseurl }}/assets/css/denali.css">
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/denali-icon-font/dist/denali-icon-font.css">
<link rel='stylesheet' href='https://cdn.jsdelivr.net/npm/prismjs@1.16.0/themes/prism-okaidia.css'>
<link rel="stylesheet" href="{{ site.baseurl }}/assets/styleguide.css">
