<nav class="nav">
    <div class="nav-left">
        <a onclick="toggleTabsLeft()" class="nav-icon hide-small-desktop-up"><i class="d-icon d-menu-hamburger"></i></a>
        <a href="{{ site.baseurl }}/" class="nav-brand"><img src="{{ site.baseurl }}/assets/images/denali-logo.svg" alt=""></img></a>
        <span class="chips is-small is-bold is-grey-100 has-bg-brand-400 hide-tablet-down">Styleguide</span>
    </div>
    <div id="collapseDropdown" class="collapse-dropdown">
        <div class="nav-center">
            <a class="nav-item {% if page.url contains "documentation" %}is-active{% endif %}" href="{{ site.baseurl }}/documentation/get-started">Documenation</a>
            <a class="nav-item {% if page.url contains "principles" %}is-active{% endif %}" href="{{ site.baseurl }}/principles/introduction">Principles</a>
            <a class="nav-item {% if page.url contains "resource" %}is-active{% endif %}" href="{{ site.baseurl }}/resource-downloads">Resources</a>
        </div>
        <div class="nav-right">
            <div class="menu">
                <a class="nav-item menu-trigger">Components<i class="d-icon d-arrowhead-down is-small is-sub"></i></a>
                <div class="menu-content">
                    <h5 class="upper is-grey-600">Frameworks</h5>
                    <a href="https://github.com/pages/denali-system-language/denali-css/dist/index.html">CSS</a>
                    <a href="https://github.com/pages/denchen/denali-react/">React</a>
                    <a href="https://github.com/pages/real/ember-denali/#/docs/components/alerts">Ember</a>
                </div>
            </div>
            <div class="menu">
                <a class="nav-item menu-trigger is-inverse">Icons<i class="d-icon d-arrowhead-down is-small is-sub"></i></a>
                <div class="menu-content">
                    <h5 class="upper is-grey-600">Frameworks</h5>
                    <a href="https://github.com/pages/denali-system-language/denali-icons/dist/">CSS</a>
                    <a href="https://github.com/pages/denchen/denali-react-icons/">React</a>
                </div>
            </div>

            <a href="https://ouroath.slack.com/app_redirect?channel=denali" target="_blank" class="nav-icon">
              <i class="d-icon d-slack"></i>
              <span class="nav-icon-text">Slack</span>
            </a>
            <a href="https://github.com/denali-system-language/" target="_blank" class="nav-icon">
              <i class="d-icon d-github"></i>
              <span class="nav-icon-text">Github</span>
            </a>

            <div class="menu is-right">
                <a class="nav-item menu-trigger"><i class="d-icon d-help-circle"></i></a>
                <div class="menu-content">
                    <a href="https://github.com/denali-system-language/denali-styleguide/issues/new?labels=feature-request" target="_blank">Feature Requests</a>
                    <a href="https://github.com/denali-system-language/denali-styleguide/milestones" target="_blank">Roadmap</a>
                </div>
            </div>
        </div>
    </div>
    <div id="navDropdownToggle" class="nav-toggle-dropdown">
        <a class="nav-icon"><i class="d-icon d-more-vertical"></i></a>
    </div>
</nav>