<div id="search" class="modal">
  <div class="modal-container is-full">
    <a href="{{ site.baseurl }}{{ page.url }}#close" class="close"><i class="d-icon d-close"></i></a>
    <div class="modal-header">
      <div class="container">
        <div class="input is-full has-icon-front">
          <span class="d-icon d-search is-brand-600"></span><input id="search-input" type="text" placeholder="Search for something..."></input>
        </div>
      </div>
    </div>
    <div class="modal-content">
      <div class="container">
        <ul class="results-header">
          <h3 class="is-regular" id="searchMessage">Start typing and we'll show you the results</h3>
          <h6 class="upper is-grey-600">Showing <span id="searchResultsCount">0</span> results</h6>
        </ul>
        <ul id="results-container" class="results-container"></ul>

        {% include footer.html %}
      </div>
    </div>
  </div>
</div>
