{% assign navigation = site.data.navigation[include.nav] %}

{% if page.sidebar.title %}
<h3 class="title is-4">{{ page.sidebar.title }}</h3>
{% endif %}

<aside class="menu">
    {% for nav in navigation %}
        {% if nav.children %}
        <p class="menu-label">{{ nav.label }}</p>
        <ul class="menu-list">
            {% for child in nav.children %}
            <li>
                <a href="{{ site.baseurl }}{{ child.url }}">{{ child.label }}</a>
            </li>
            {% endfor %}
        </ul>
        {% else %}
        <ul class="menu-list">
            <li>
                <a href="{{ site.baseurl }}{{ nav.url }}">{{ nav.label }}</a>
            </li>
        </ul>
        {% endif %}
    {% endfor %}
</aside>
