<!-- style="margin: 0px auto; max-width: 800px;" -->

<div class="row m-t-40 m-b-40">
  {% if include.do-image %}
  <div class="col-1-1 m-b-40">
    <div class="do has-bg-grey-300" style="background-image:url('{{ site.baseurl }}/assets/images/principles/{{ include.do-image }}')"></div>
    <p class="m-t-10 m-b-30">
      <span class="upper bold is-status-success">Do </span>{{ include.do-description }}
    </p>
  </div>
  {% endif %}
  {% if include.dont-image %}
  <div class="col-1-1">
    <div class="dont has-bg-grey-300" style="background-image:url('{{ site.baseurl }}/assets/images/principles/{{ include.dont-image }}')"></div>
    <p class="m-t-10 m-b-30">
      <span class="upper bold is-status-danger">Don't </span>{{ include.dont-description }}
    </p>
  </div>
  {% endif %}
  {% if include.recommended-image %}
  <div class="col-1-1">
    <div class="recommended has-bg-grey-300" style="background-image:url('{{ site.baseurl }}/assets/images/principles/{{ include.recommended-image }}')"></div>
    <p class="m-t-10 m-b-30">
      <span class="upper bold is-status-info">Recommended </span>{{ include.recommended-description }}
    </p>
  </div>
  {% endif %}
  {% if include.standard-image %}
  <div class="col-1-1">
    <div class="standard has-bg-grey-300" style="background-image:url('{{ site.baseurl }}/assets/images/principles/{{ include.standard-image }}')"></div>
    {% if include.standard-description %}<p class="m-t-10 m-b-30">{{ include.standard-description }}</p>{% endif %}
  </div>
  {% endif %}
</div>
