<!-- begin SEO -->

<!-- Title -->
{% if page.title %}
<title>{{ page.title }}</title>
<meta property="og:title" content="{{ page.title }}" />
<meta property="twitter:title" value="{{ page.title }}" />
{% endif %}

<!-- Description -->
{% if page.excerpt %}
<meta property="og:description" content="{{ page.excerpt }}" />
<meta property="twitter:description" value="{{ page.excerpt }}" />
{% endif %}

<!-- URL -->
<meta property="og:url" content="{{ site.url }}{{ page.url }}" />
<meta property="twitter:url" value="{{ site.url }}{{ page.url }}" />

<!-- Social Image -->
<meta property="og:image" content="{{ site.url }}/assets/images/social/components-social.png" />
<meta property="twitter:image" content="{{ site.url }}/assets/images/social/components-social.png" />

<!-- Misc Tags -->
<meta property="og:type" content="website" />
<meta property="twitter:card" content="summary_large_image" />
<meta property="twitter:domain" value="{{ site.url }}" />

<!-- end SEO -->