{% assign navigation = site.data.navigation[include.nav] %}

<div id="toggleTabsLeft" class="tabs is-primary is-vertical tablet-down-hide-left">
    <ul>
        {% for nav in navigation %}
        <li class="tabs__section-header">{{ nav.label }}</li>
        {% if nav.children %}

        {% for child in nav.children %}
        <!-- principles nav -->
        {% if page.url contains "principles" %}
        <li class="{% if page.url contains child.url %}is-active{% endif %}"><a href="{{ child.url }}">{{ child.label }}</a></li>
        {% endif %}
        {% if page.url contains "docs" %}
        <!-- docs -->
        {% for version in child.versions %}
        {% if page.url contains version %}
        <li class="{% if page.url contains child.url %}is-active{% endif %}"><a href="docs/{{ version }}{{ child.url }}">{{ child.label }}</a></li>
        {% endif %}
        {% endfor %}
        {% endif %}
        {% endfor %}
        
        {% endif %}
        {% endfor %}
    </ul>
</div>
