<section class="container-full p-t-40 p-b-40 has-bg-pink-100">

  <h1 class="m-b-30">Site Debug</h1>

  <h4>Useful Links</h4>
  <div class="m-b-30">
      {% for nav in site.data.navigation.sitedebug %}
      <a class="m-r-20" href="{{ site.baseurl }}{{ nav.url }}">{{ nav.label }}</a>
      {% endfor %}
  </div>

  <table class="table">
    <thead>
      <tr>
        <th>Property</th>
        <th>Value</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>page.url</td>
        <td>{{ page.url }}</td>
      </tr>
      <tr>
        <td>page.permalink</td>
        <td>{{ page.permalink }}</td>
      </tr>
      <tr>
        <td>page.layout</td>
        <td>{{ page.layout }}</td>
      </tr>
      <tr>
        <td>site.url</td>
        <td>{{ site.url }}</td>
      </tr>
      <tr>
        <td>site.baseurl</td>
        <td>{{ site.baseurl }}</td>
      </tr>
    </tbody>
  </table>

</section>
