<div class="file-downloads m-t-2">
    <div class="file-download">
        <a href="{{ site.baseurl }}/assets/downloads/denali-component-library-v1.sketch" download>
      <div>
        <img src="{{ site.baseurl }}/assets/images/sketch-file.svg" alt="">
      </div>
      <div class="download-bubble">
        <img src="{{ site.baseurl }}/assets/images/download-bubble.svg" alt="">
      </div>
      <div class="content">
        <p>Denali Sketch Library<br><span>v1</span></p>
      </div>
    </a>
    </div>

    <div class="file-download">
        <a href="{{ site.baseurl }}/assets/downloads/denali-data-vis-uikit-v1.sketch" download>
      <div>
        <img src="{{ site.baseurl }}/assets/images/sketch-file.svg" alt="">
      </div>
      <div class="download-bubble">
        <img src="{{ site.baseurl }}/assets/images/download-bubble.svg" alt="">
      </div>
      <div class="content">
        <p>Denali Charts Ui Kit<br><span>v1</span></p>
      </div>
    </a>
    </div>
</div>
