<div class="file-downloads m-t-2">
    <div class="file-download">
        <a href="{{ site.baseurl }}/assets/downloads/denali-ui-sketch-v0.1.0.zip" download>
      <div>
        <img src="{{ site.baseurl }}/assets/images/sketch-file.svg" alt="">
      </div>
      <div class="download-bubble">
        <img src="{{ site.baseurl }}/assets/images/download-bubble.svg" alt="">
      </div>
      <div class="content">
        <p>Sketch Ui Kit<br><span>v0.1.0 (Current)</span></p>
      </div>
    </a>
    </div>
</div>