<div class="file-downloads m-t-2">
    <div class="file-download">
        <a href="{{ site.baseurl }}/assets/downloads/denali-icon-svg-v1.0.0.zip" download>
      <div>
        <img src="{{ site.baseurl }}/assets/images/svg-file.svg" alt="">
      </div>
      <div class="download-bubble">
        <img src="{{ site.baseurl }}/assets/images/download-bubble.svg" alt="">
      </div>
      <div class="content">
        <p>Svg File<br><span>v1.0.0 (Current)</span></p>
      </div>
    </a>
    </div>

    <div class="file-download">
        <a href="{{ site.baseurl }}/assets/downloads/denali-icon-fonts-v1.0.0.zip" download>
      <div>
        <img src="{{ site.baseurl }}/assets/images/ttf-file.svg" alt="">
      </div>
      <div class="download-bubble">
        <img src="{{ site.baseurl }}/assets/images/download-bubble.svg" alt="">
      </div>
      <div class="content">
        <p>Icon Font Package<br><span>v1.0.0 (Current)</span></p>
      </div>
    </a>
    </div>
</div>
