<div class="file-downloads m-t-2">

    <div class="file-download">
      <a href="{{ site.baseurl }}/assets/downloads/sketch-ui-kits/denali-data-vis-uikit.sketch" download>
        <div>
          <img src="{{ site.baseurl }}/assets/images/sketch-file.svg" alt="">
        </div>
        <div class="download-bubble">
          <img src="{{ site.baseurl }}/assets/images/download-bubble.svg" alt="">
        </div>
        <div class="content">
          <p>Denali Charts<br><span>BETA</span></p>
        </div>
      </a>
    </div>

</div>
