<div class="file-downloads m-t-2">

    <div class="file-download">
      <a href="sketch://add-library?url=https%3A%2F%2Fdenali-design.github.io%2Fdenali-site%2Fassets%2Fdownloads%2Fsketch-libraries%2Fdenali-components.xml" download>
        <div>
          <img src="{{ site.baseurl }}/assets/images/sketch-file.svg" alt="">
        </div>
        <div class="download-bubble">
          <img src="{{ site.baseurl }}/assets/images/download-bubble.svg" alt="">
        </div>
        <div class="content">
          <p>Denali Components<br><span>v1.0</span></p>
        </div>
      </a>
    </div>

    <div class="file-download">
      <a href="sketch://add-library?url=https%3A%2F%2Fdenali-design.github.io%2Fdenali-site%2Fassets%2Fdownloads%2Fsketch-libraries%2Fdenali-icons.xml" download>
        <div>
          <img src="{{ site.baseurl }}/assets/images/sketch-file.svg" alt="">
        </div>
        <div class="download-bubble">
          <img src="{{ site.baseurl }}/assets/images/download-bubble.svg" alt="">
        </div>
        <div class="content">
          <p>Denali Icons<br><span>v1.0</span></p>
        </div>
      </a>
    </div>

    <div class="file-download">
      <a href="sketch://add-library?url=https%3A%2F%2Fdenali-design.github.io%2Fdenali-site%2Fassets%2Fdownloads%2Fsketch-libraries%2Fdenali-charts.xml" download>
        <div>
          <img src="{{ site.baseurl }}/assets/images/sketch-file.svg" alt="">
        </div>
        <div class="download-bubble">
          <img src="{{ site.baseurl }}/assets/images/download-bubble.svg" alt="">
        </div>
        <div class="content">
          <p>Denali Charts<br><span>BETA</span></p>
        </div>
      </a>
    </div>


    <!-- <div class="file-download">
        <a href="{{ site.baseurl }}/assets/downloads/denali-data-vis-uikit-v1.sketch" download>
      <div>
        <img src="{{ site.baseurl }}/assets/images/sketch-file.svg" alt="">
      </div>
      <div class="download-bubble">
        <img src="{{ site.baseurl }}/assets/images/download-bubble.svg" alt="">
      </div>
      <div class="content">
        <p>Denali Charts Ui Kit<br><span>v1</span></p>
      </div>
    </a>
    </div> -->

</div>
