<h4 class="is-bold m-t-2">HTML Templates</h4>
<div class="template-download">
    <a class="template" href="{{ site.baseurl }}/assets/downloads/denali-template-table.zip" download>
    <img src="{{ site.baseurl }}/assets/images/table-template.png" alt="">
  </a>
    <a class="template" href="{{ site.baseurl }}/assets/downloads/denali-template-form.zip" download>
    <img src="{{ site.baseurl }}/assets/images/form-template.png" alt="">
  </a>
</div>

<h4 class="is-bold m-t-2">Sketch Design Templates</h4>
<div class="template-download">
    <a class="template" href="{{ site.baseurl }}/assets/downloads/sketch-templates/table-template.sketch" download>
    <img src="{{ site.baseurl }}/assets/images/table-template.png" alt="">
  </a>
    <a class="template" href="{{ site.baseurl }}/assets/downloads/sketch-templates/form-template.sketch" download>
    <img src="{{ site.baseurl }}/assets/images/form-template.png" alt="">
  </a>
    <a class="template" href="{{ site.baseurl }}/assets/downloads/sketch-templates/dashboard-template.sketch" download>
    <img src="{{ site.baseurl }}/assets/images/dashboard-template.png" alt="">
  </a>
    <a class="template" href="{{ site.baseurl }}/assets/downloads/sketch-templates/documentation-template.sketch" download>
    <img src="{{ site.baseurl }}/assets/images/documentation-template.png" alt="">
  </a>
</div>
