<h4 class="is-bold m-t-20">HTML Templates</h4>
<div class="template-download row">
  <a class="template xs-col-1-1 sm-col-1-2 md-col-1-5 lg-col-1-5 xl-col-1-5" href="{{ site.baseurl }}/assets/downloads/denali-template-table.zip" download>
    <img src="{{ site.baseurl }}/assets/images/table-template.png" alt="">
  </a>
  <a class="template xs-col-1-1 sm-col-1-2 md-col-1-5 lg-col-1-5 xl-col-1-5" href="{{ site.baseurl }}/assets/downloads/denali-template-form.zip" download>
    <img src="{{ site.baseurl }}/assets/images/form-template.png" alt="">
  </a>
</div>

<h4 class="is-bold m-t-20">Sketch Design Templates</h4>
<div class="template-download row">
  <a class="template xs-col-1-1 sm-col-1-2 md-col-1-5 lg-col-1-5 xl-col-1-5" href="{{ site.baseurl }}/assets/downloads/sketch-templates/table-template.sketch" download>
    <img src="{{ site.baseurl }}/assets/images/table-template.png" alt="">
  </a>
  <a class="template xs-col-1-1 sm-col-1-2 md-col-1-5 lg-col-1-5 xl-col-1-5" href="{{ site.baseurl }}/assets/downloads/sketch-templates/form-template.sketch" download>
    <img src="{{ site.baseurl }}/assets/images/form-template.png" alt="">
  </a>
  <a class="template xs-col-1-1 sm-col-1-2 md-col-1-5 lg-col-1-5 xl-col-1-5" href="{{ site.baseurl }}/assets/downloads/sketch-templates/dashboard-template.sketch" download>
    <img src="{{ site.baseurl }}/assets/images/dashboard-template.png" alt="">
  </a>
  <a class="template xs-col-1-1 sm-col-1-2 md-col-1-5 lg-col-1-5 xl-col-1-5" href="{{ site.baseurl }}/assets/downloads/sketch-templates/documentation-template.sketch" download>
    <img src="{{ site.baseurl }}/assets/images/documentation-template.png" alt="">
  </a>
</div>
