---
layout: default
---
<div class="documentation-layout is-fullwidth">
    <section class="hero is-primary">
        <div class="hero-body">
            <div class="container">
                <div class="columns is-vcentered">
                    <div class="column">
                        <p class="title">Documentation</p>
                        <p class="sub-title">Covering the basics of <strong>creating a website</strong> with {{ site.title_brand}}</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="hero-foot">
            <div class="container">
                <nav class="tabs is-boxed">
                    {% assign navigation = site.data.navigation.docs %}
                    <ul>
                        {% for nav in navigation %}
                            {% if page.url contains nav.subnav %}
                                {% assign subnavigation = nav.children %}
                            {% endif %}
                            <li class="{% if page.url contains nav.subnav %}is-active{% endif %}">
                                <a href="{{ site.baseurl }}{{ nav.url }}">{{ nav.label }}</a>
                            </li>
                        {% endfor %}
                    </ul>
                </nav>
            </div>
        </div>
    </section>
    <div class="documentation-outlet is-fullwidth">
        {% if subnavigation != null %}
        <nav class="nav has-shadow">
            <div class="container">
                <div class="nav-left">
                    {% for nav in subnavigation %}
                    <a class="nav-item is-tab {% if page.url contains nav.url %}is-active{% endif %}" href="{{ site.baseurl }}{{ nav.url }}">{{ nav.label }}</a>
                    {% endfor %}
                </div>
            </div>
        </nav>
        {% endif %}
        <section class="section">
            <div class="container {% if page.gitcontent %}git-content{% endif %}">
                {{ content }}
            </div>
        </section>
    </div>
</div>