---
layout: base
classes:
- framed-layouts
---

{% include masthead.html %}

<!-- content outlet -->
<div class="flex h-minus-nav">

    {% if page.url contains "docs" %}
    {% include side-nav.html nav="documentation" %}
    {% endif %}

    {% if page.url contains "principles" %}
    {% include side-nav.html nav="principles" %}
    {% endif %}

    <div id="container" style="overflow-x:hidden; -webkit-overflow-scrolling: touch;" class="overflow-y-auto flex-auto">
        <div class="markdown-docs container-full p-t-30" style="max-width: 1140px; margin: 0px auto 400px auto">
            {{ content }}
        </div>
        <div class="container-full p-t-30" style="max-width: 1140px; margin: 0px auto 0px auto;">
            {% include footer.html %}
        </div>
    </div>
</div>

{% include modals.html %}
