---
layout: base
---

<!-- Nav -->
<nav class="nav">
  <div class="nav-left">
    <a href="{{ site.baseurl }}/" class="nav-brand"><img src="{{ site.baseurl }}/assets/images/denali-logo.svg" alt=""></img></a>
  </div>
  <div class="nav-right hide-small-desktop-up">
    <a href="https://denali-design.slack.com/app_redirect?channel=general" target="_blank" class="nav-icon">
      <i class="d-icon d-slack"></i>
    </a>
    <a href="https://github.com/denali-design" target="_blank" class="nav-icon">
      <i class="d-icon d-github"></i>
    </a>
    <div class="menu is-right">
      <a class="nav-icon menu-trigger" tabindex="0"><i class="d-icon d-help-circle"></i></a>
      <div class="menu-content">
        <a href="https://github.com/denali-design/issues/new?labels=feature-request" target="_blank">Feature Requests</a>
        <a href="https://github.com/denali-design/milestones" target="_blank">Roadmap</a>
      </div>
    </div>
  </div>
  <a class="nav-icon nav-toggle-dropdown" tabindex="0"><i class="d-icon d-more-vertical"></i></a>
  <div class="nav-right space-between responsive">
    <div class="nav-group">
      <a class="nav-item {% if page.url contains "documentation" %}is-active{% endif %}" href="{{ site.baseurl }}/documentation/get-started">Documentation</a>
      <a class="nav-item {% if page.url contains "principles" %}is-active{% endif %}" href="{{ site.baseurl }}/principles/introduction">Principles</a>
      <a class="nav-item {% if page.url contains "resource" %}is-active{% endif %}" href="{{ site.baseurl }}/resource-downloads">Resources</a>
    </div>
    <div class="nav-group">
      <div class="menu">
        <a class="nav-item menu-trigger" tabindex="0">Components<i class="d-icon d-arrowhead-down is-small is-sub"></i></a>
        <div class="menu-content">
          <h5 class="upper is-grey-600">Frameworks</h5>
          <a href="https://denali-design.github.io/denali-css/docs/">CSS</a>
        </div>
      </div>
      <div class="menu">
        <a class="nav-item menu-trigger is-inverse" tabindex="0">Icons<i class="d-icon d-arrowhead-down is-small is-sub"></i></a>
        <div class="menu-content">
          <h5 class="upper is-grey-600">Frameworks</h5>
          <a href="https://denali-design.github.io/denali-icon-font/docs/">Icon Font</a>
        </div>
      </div>
      <a href="https://denali-design.slack.com/app_redirect?channel=general" target="_blank" class="nav-icon hide-tablet-down">
        <i class="d-icon d-slack"></i>
      </a>
      <a href="https://github.com/denali-design" target="_blank" class="nav-icon hide-tablet-down">
        <i class="d-icon d-github"></i>
      </a>
      <div class="menu is-right">
        <a class="nav-icon menu-trigger hide-tablet-down" tabindex="0"><i class="d-icon d-help-circle"></i></a>
        <div class="menu-content">
          <a href="https://github.com/denali-design/denali-site/issues/new?labels=feature-request" target="_blank">Feature Requests</a>
          <a href="https://github.com/denali-design/denali-site/milestones" target="_blank">Roadmap</a>
        </div>
      </div>
    </div>
  </div>
</nav>

<!-- Cover -->
<div class="top">
    <div class="home">
        <div>
            <div>
                <h1 class="title m-b-1 is-grey-100">Denali System Language</h1>
                <p class="description is-light m-b-2">A comprehensive system language for <br>
                  creating intuitive enterprise products.
                </p>
            </div>
            <a href="{{ site.baseurl }}/documentation/get-started"
             class="button is-solid is-large m-r-1">Developer Docs</a>
            <a href="{{ site.baseurl }}/principles/introduction"
             class="button is-outline is-inverse is-large">Design Principles</a>
            <a href="#cards"><i class="d-icon d-arrowhead-down is-large"></i></a>
        </div>
        <img src="{{ site.baseurl }}/assets/images/Cover/cover-illustration.png"
             alt="Cover" />
      </div>
        <div class="cards" id="cards">
            <a href="{{ site.baseurl }}/documentation/get-started">
          <div class="card">
            <img src="{{ site.baseurl }}/assets/images/Cards/cards_build.png"
                 alt="build" />
            <h2>Build</h2>
            <p>Develop products efficiently with our comprehensive framework.</p>
            <div class="link">View Developer Docs</div>
          </div>
        </a>
            <a href="{{ site.baseurl }}/principles/introduction">
          <div class="card">
            <img src="{{ site.baseurl }}/assets/images/Cards/cards_design.png"
                 alt="design" />
            <h2>Design</h2>
            <p>Explore the principles we use to guide our design decisions.</p>
            <div class="link">View Design Principles</div>
          </div>
        </a>
            <a href="https://denali-design.github.io/denali-icon-font/docs/" target="_blank">
          <div class="card">
            <img src="{{ site.baseurl }}/assets/images/Cards/cards_icons.png"
                 alt="icons" />
            <h2>Icons</h2>
            <p>Discover over 600 custom icons ready for downloads.</p>
            <div class="link">View Icon Library</div>
          </div>
        </a>
        </div>
    </div>

    <!-- Content -->
    <div class="contents">
        <div class="content-one">
            <img class="curve"
             src="{{ site.baseurl }}/assets/images/Curves/top-curve.svg" />
            <img class="mobile-curve"
             src="{{ site.baseurl }}/assets/images/Curves/mobile-top-curve.svg" />
            <img class="body-image"
             src="{{ site.baseurl }}/assets/images/Body/functional-design.png" />
            <div class="home-content">
                <h1>Functional Design</h1>
                <h4>DESIGN LANGUAGE</h4>
                <p>Denali's Design Language was developed with the philosophy that form follows function. The result is
                    a visual design language that works in support of functionality to provide intuitive product
                    experiences.</p>
                <div>
                    <a href="{{ site.baseurl }}/principles/introduction"
               class="button is-outline">
               Design Principles
              </a>
                </div>
            </div>
        </div>
        <div class="content-two">
            <img class="body-image"
             src="{{ site.baseurl }}/assets/images/Body/rapid-development.png">
            <div class="home-content">
                <h1>Rapid Development</h1>
                <h4>CSS FRAMEWORK</h4>
                <p>Get started with Denali in seconds. Install the entire framework or take only what you need, each
                    component is entirely independent and easily customizable to quickly meet your product's needs.</p>
                <div>
                    <a href="{{ site.baseurl }}/documentation/get-started"
               class="button is-outline">
                 Developer Docs
              </a>
                </div>
            </div>
        </div>
        <div class="content-three">
            <img class="body-image"
             src="{{ site.baseurl }}/assets/images/Body/fully-responsive.png">
            <div class="home-content">
                <h1>Fully Responsive</h1>
                <h4>MOBILE FIRST</h4>
                <p>Denali has what you need to design for every screen size from a fully responsive component library
                    to flexible grid system.</p>
                <div>
                    <a href="{{ site.baseurl }}/documentation/formats/breakpoints"
               class="button is-outline">
               Grid System
            </a>
                </div>
            </div>
        </div>
    </div>

    <!-- Bottom -->
    <div class="bottom">
      <div>
        <h1>Resources</h1>
        <p class="description">Everything you need to help you create with Denali.</p>
      </div>
      <div>
        <a href="{{ site.baseurl }}/resource-downloads">
          <div class="bottom-icon">
            <img src="{{ site.baseurl }}/assets/images/Resources/resources_sketch.png" />
          </div>
          <h3>Sketch UI kit</h3>
        </a>
        <a href="{{ site.baseurl }}/assets/downloads/denali-icon-fonts.zip" download>
          <div class="bottom-icon">
            <img src="{{ site.baseurl }}/assets/images/Resources/resources_font.png" />
          </div>
          <h3>Icon Font</h3>
        </a>
      </div>
    </div>

    <!-- Footer -->
    <div class="homepage-footer">
        <div class="footer-left">
          <img src="{{ site.baseurl }}/assets/images/logos/footer_logo.png"
             width="40px"
             height="40px"
             alt="Denali"/>
      </div>
            <div class="footer-right">
                <a href="{{ site.baseurl }}/principles/introduction" class="footer-item">Principles</a>
                <a href="{{ site.baseurl }}/documentation/get-started" class="footer-item">Documentation</a>
                <a href="https://github.com/denali-design/denali-site/issues/" target="_blank" class="footer-item">Report Issues</a>
            </div>
        </div>
