---
layout: base
---

<nav class="nav" style="z-index: 100; background: #0A2D45;">
  <div class="nav-left">
    <a href="/">
      <img style="height: 60px;" class="nav-brand" src="{{ site.url }}/assets/images/denali-logo-white.svg"
        alt=""></img>
    </a>
    <div class="float-right hide-small-desktop-up">
      <a class="nav-icon" id="navToggle"><i class="d-icon d-more-vertical"></i></a>
    </div>
  </div>
  <div class="nav-responsive" id="navMenuContent">
    <div class="nav-center">
      <a class="nav-item {% if page.url contains 'docs' %}is-active{% endif %}"
        href="{{ site.data.navigation.static.docs }}guides/get-started">Docs</a>
      <a class="nav-item {% if page.url contains 'principles' %}is-active{% endif %}"
        href="{{ site.data.navigation.static.principles }}">Principles</a>
      <a class="nav-item {% if page.url contains 'resource' %}is-active{% endif %}"
        href="{{ site.data.navigation.static.resources }}">Resources</a>
      <a class="nav-item" href="https://denali-design.github.io/denali-css/docs/" target="_blank">CSS</a>
      <a class="nav-item" href="https://denali-design.github.io/denali-icon-font/docs/" target="_blank">Icons</a>
    </div>
    <div class="nav-right">
      <a href="{{ site.baseurl }}{{ page.url }}#search" class="nav-icon">
        <i class="d-icon d-search"></i>
        <span class="icon-name">Search</span>
      </a>
      <a href="https://github.com/denali-design" target="_blank" class="nav-icon">
        <i class="d-icon d-github"></i>
        <span class="icon-name">Github</span>
      </a>
      <div class="nav-menu">
        <div class="nav-icon menu-trigger">
          <i class="d-icon d-help-circle"></i>
          <span class="icon-name">Help</span></div>
        <div class="menu-content is-right">
          <a href="https://github.com/denali-design/issues/new?labels=feature-request" target="_blank">
            Feature Requests
          </a>
          <a href="https://github.com/denali-design/milestones" target="_blank">Roadmap</a>
          <a href="https://join.slack.com/t/denali-design/shared_invite/enQtNzk0MTE2NjU3MzE0LTM5NWFmMGFmZmFhZjVhMzdjMzYzMDQ4ZGNhZjYxNGUwMzgxMWRmODc4MWIzYTE3YzQ5OWMyM2IzMTkxZGExYWY"
            target="_blank">Slack
          </a>
        </div>
      </div>
    </div>
  </div>
</nav>

<script>
  document.getElementById('navToggle').addEventListener("click", toggleMenu);

  function toggleMenu() {
    document.getElementById('navMenuContent').classList.toggle("is-active");
  }
</script>

<!-- Cover -->
<div class="top">
  <div class="home">
    <div>
      <div>
        <h1 class="title m-b-1 is-grey-100">Denali System Language</h1>
        <p class="description is-light m-b-2">A comprehensive system language for <br>
          creating intuitive enterprise products.
        </p>
      </div>
      <a href="{{ site.data.navigation.static.docs }}guides/get-started" class="button is-solid is-large m-r-1">Developer Docs</a>
      <a href="{{ site.data.navigation.static.principles }}" class="button is-outline is-inverse is-large">Design
        Principles</a>
      <a href="#cards"><i class="d-icon d-arrowhead-down is-large"></i></a>
    </div>
    <img src="{{ site.baseurl }}/assets/images/home/cover-illustration.png" alt="Cover" />
  </div>
  <div class="cards" id="cards">
    <a href="{{ site.data.navigation.static.docs }}guides/get-started">
      <div class="card">
        <img src="{{ site.baseurl }}/assets/images/home/cards_build.png" alt="build" />
        <h2>Build</h2>
        <p>Develop products efficiently with our comprehensive framework.</p>
        <div class="link">View Developer Docs</div>
      </div>
    </a>
    <a href="{{ site.data.navigation.static.principles }}">
      <div class="card">
        <img src="{{ site.baseurl }}/assets/images/home/cards_design.png" alt="design" />
        <h2>Design</h2>
        <p>Explore the principles we use to guide our design decisions.</p>
        <div class="link">View Design Principles</div>
      </div>
    </a>
    <a href="https://denali-design.github.io/denali-icon-font/docs/" target="_blank">
      <div class="card">
        <img src="{{ site.baseurl }}/assets/images/home/cards_icons.png" alt="icons" />
        <h2>Icons</h2>
        <p>Discover over 600 custom icons ready for downloads.</p>
        <div class="link">View Icon Library</div>
      </div>
    </a>
  </div>
</div>

<!-- Content -->
<div class="contents">
  <div class="content-one">
    <img class="curve" src="{{ site.baseurl }}/assets/images/home/top-curve.svg" />
    <img class="mobile-curve" src="{{ site.baseurl }}/assets/images/home/mobile-top-curve.svg" />
    <img class="body-image" src="{{ site.baseurl }}/assets/images/home/functional-design.png" />
    <div class="home-content">
      <h1>Functional Design</h1>
      <h4>DESIGN LANGUAGE</h4>
      <p>Denali's Design Language was developed with the philosophy that form follows function. The result is
        a visual design language that works in support of functionality to provide intuitive product
        experiences.</p>
      <div>
        <a href="{{ site.data.navigation.static.principles }}" class="button is-outline">
          Design Principles
        </a>
      </div>
    </div>
  </div>
  <div class="content-two">
    <img class="body-image" src="{{ site.baseurl }}/assets/images/home/rapid-development.png">
    <div class="home-content">
      <h1>Rapid Development</h1>
      <h4>CSS FRAMEWORK</h4>
      <p>Get started with Denali in seconds. Install the entire framework or take only what you need, each
        component is entirely independent and easily customizable to quickly meet your product's needs.</p>
      <div>
        <a href="{{ site.data.navigation.static.docs }}guides/get-started" class="button is-outline">
          Developer Docs
        </a>
      </div>
    </div>
  </div>
  <div class="content-three">
    <img class="body-image" src="{{ site.baseurl }}/assets/images/home/fully-responsive.png">
    <div class="home-content">
      <h1>Fully Responsive</h1>
      <h4>MOBILE FIRST</h4>
      <p>Denali has what you need to design for every screen size from a fully responsive component library
        to flexible grid system.</p>
      <div>
        <a href="{{ site.data.navigation.static.docs }}layouts/breakpoints" class="button is-outline">
          Grid System
        </a>
      </div>
    </div>
  </div>
</div>

<!-- Bottom -->
<div class="bottom">
  <div>
    <h1>Resources</h1>
    <p class="description">Everything you need to help you create with Denali.</p>
  </div>
  <div>
    <a href="{{ site.data.navigation.static.resources }}">
      <div class="bottom-icon">
        <img src="{{ site.baseurl }}/assets/images/home/resources_sketch.png" />
      </div>
      <h3>Sketch UI kit</h3>
    </a>
    <a href="https://denali-design.github.io/denali-icon-font/docs/downloads/denali-icon-font.zip" download>
      <div class="bottom-icon">
        <img src="{{ site.baseurl }}/assets/images/home/resources_font.png" />
      </div>
      <h3>Icon Font</h3>
    </a>
  </div>
</div>

<!-- Footer -->
<div class="homepage-footer">
  <div class="footer-left">
    <img src="{{ site.baseurl }}/assets/images/home/footer_logo.png" width="40px" height="40px" alt="Denali" />
  </div>
  <div class="footer-right">
    <a href="{{ site.data.navigation.static.principles }}" class="footer-item">Principles</a>
    <a href="{{ site.data.navigation.static.docs }}guides/get-started"
      class="footer-item">Documentation</a>
    <a href="https://github.com/denali-design/denali-site/issues/" target="_blank" class="footer-item">Report Issues</a>
  </div>
</div>

{% include modals.html %}