---
layout: base
---
<!-- Lottie -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/bodymovin/5.6.8/lottie.min.js" type="text/javascript"></script>
<!-- Load theme images -->
<img src="assets/images/splash/components-dark.jpg" alt="" style="visibility: hidden;position: absolute;
    pointer-events: none;">
<img src="assets/images/splash/components-denali.jpg" alt="" style="visibility: hidden;position: absolute;
    pointer-events: none;">
<img src="assets/images/splash/components-purple.jpg" alt="" style="visibility: hidden;position: absolute;
    pointer-events: none;">

<div class="splash-page">

  <!-- Navbar -->
  <nav class="nav is-fixed-top" style="z-index: 100;">
    <div class="nav-left">
      <img class="nav-brand" src="{{ site.url }}/assets/images/denali-logo-white.svg"
        alt=""></img>
      <div class="float-right hide-small-desktop-up">
        <a class="nav-icon" id="navToggle"><i class="d-icon d-more-vertical"></i></a>
      </div>
    </div>
    <div class="nav-responsive" id="navMenuContent">
      <div class="nav-center">
        <a class="nav-item" href="{{ site.data.navigation.static.docs }}guides/get-started">Docs</a>
        <a class="nav-item" href="{{ site.data.navigation.static.principles }}">Principles</a>
        <a class="nav-item" href="{{ site.data.navigation.static.resources }}">Resources</a>
        <a class="nav-item" href="https://denali-design.github.io/denali-css/docs/">CSS</a>
        <a class="nav-item" href="https://denali-design.github.io/denali-icon-font/docs/">Icons</a>
      </div>
      <div class="nav-right">
        <a href="{{ site.baseurl }}{{ page.url }}#search" class="nav-icon">
          <i class="d-icon d-search"></i>
          <span class="icon-name">Search</span>
        </a>
        <a href="https://github.com/denali-design" target="_blank" class="nav-icon">
          <i class="d-icon d-github"></i>
          <span class="icon-name">Github</span>
        </a>
        <div class="nav-menu">
          <div class="nav-icon menu-trigger" tabindex="0">
            <i class="d-icon d-help-circle"></i>
            <span class="icon-name">Help</span></div>
          <div class="menu-content is-right">
            <a href="https://github.com/denali-design/issues/new?labels=feature-request" target="_blank" tabindex="0">
              Feature Requests
            </a>
            <a href="https://github.com/denali-design/milestones" target="_blank" tabindex="0">Roadmap</a>
            <a href="https://join.slack.com/t/denali-design/shared_invite/enQtNzk0MTE2NjU3MzE0LTM5NWFmMGFmZmFhZjVhMzdjMzYzMDQ4ZGNhZjYxNGUwMzgxMWRmODc4MWIzYTE3YzQ5OWMyM2IzMTkxZGExYWY"
              target="_blank" tabindex="0">Slack
            </a>
          </div>
        </div>
      </div>
    </div>
  </nav>

  <!-- Cover -->
  <div class="container-full cover">
    <div class="container">
      <div class="row">
        <div
          class="xs-col-12-12 sm-col-10-12 sm-col-off-1-12 md-col-8-12 md-col-off-2-12 lg-col-6-12 lg-col-off-3-12
          xl-col-6-12 xl-col-off-3-12 p-x-20">
          <h1 class="is-grey-100">Build and theme products like never before</h1>
          <p class="is-grey-100 m-t-40">Denali's themeable design system provides the ease of building with a framework without sacrificing your unique visual style.</p>
            <div class="button-group">
              <a href="{{ site.data.navigation.static.docs }}guides/get-started" class="cover-button inverse">Start
                building</a>
              <a href="{{ site.data.navigation.static.principles }}" class="cover-button inverse outline">View
                Principles</a>
            </div>
        </div>
      </div>
      <div class="row p-b-80 cover-image">
        <div class="xs-hide sm-hide md-col-12-12 lg-col-10-12 lg-col-off-1-12 xl-col-10-12 xl-col-off-1-12" id="denaliCover">
          <!-- <img src="assets/images/splash/cover-image.png" alt=""> -->
        </div>
        <div class="md-hide lg-hide xl-hide p-b-80 m-t-60">
          <img src="assets/images/splash/cover-image.png" alt="">
        </div>
      </div>
    </div>
    <!-- Blobs -->
    <!-- <img class="blob-big" src="assets/images/splash/cover-blob-big.png" alt=""> -->
    <!-- <img class="blob-small" src="assets/images/splash/cover-blob-small.png" alt=""> -->
  </div>

  <!-- Develop -->
  <div class="container-full re-theme">
    <div class="container">
      <div class="row">
        <div class="xs-col-12-12 sm-col-10-12 sm-col-off-1-12 md-col-8-12 md-col-off-2-12 lg-col-6-12 lg-col-off-3-12
          xl-col-6-12 xl-col-off-3-12">
          <p class="is-grey-600 m-b-24"><i class="d-icon d-computer-code m-r-12"></i><span class="mono">Develop</span></p>
          <h1 class="is-grey-800 p-x-40">Ready to go components re-themed in a snap.</h1>
          <p class="is-grey-800 m-t-40">We built our components to be themeable by nature which means you aren’t tied to our components visual design.</p>
          <div class="flex justify-content-center">
            <a href="{{ site.data.navigation.static.docs }}guides/get-started" class="cover-button m-t-40">Start
              building <i class="d-icon d-arrow-right m-l-18"></i></a>
          </div>
        </div>
      </div>
    </div>
    <!-- Blobs -->
    <!-- <img class="blob-big" src="assets/images/splash/cover-blob-big.png" alt=""> -->
    <!-- <img class="blob-small" src="assets/images/splash/cover-blob-small.png" alt=""> -->
  </div>

  <!-- Theme Images -->
  <div class="theme-image">
    <div class="theme-code-container">
      <div class="theme-code">&#60;body class="<div id="themeImageCode" class=""></div>"&#62;</div>
    </div>
    <div id="image" class="denali"></div>
  </div>

  <!-- Icons -->
  <div class="container-full icons-container">
    <div class="container icons">
      <div class="row">
        <div class="xs-col-12-12 sm-col-10-12 sm-col-off-1-12 col-7-12 content">
          <div class="row">
            <div class="xs-col-10-12 xs-col-off-1-12 sm-col-10-12 sm-col-off-1-12 col-4-7 col-off-1-7 p-y-100">
              <p class="is-grey-600 m-b-24"><i class="d-icon d-partners m-r-12"></i><span class="mono">Design +
                  Develop</span></p>
              <h1 class="is-grey-100">1,000+ solid and outline icons. Available as png, svg, or font.</h1>
              <p class="is-grey-100 m-t-40">Adding icons to your products is as easy as adding a CSS class - because that’s what they are!</p>
              <div class="flex justify-content-start">
                <a href="https://denali-design.github.io/denali-icon-font/docs/"
                  class="cover-button m-t-40">View Icon Library <i class="d-icon d-arrow-right m-l-18"></i></a>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="xs-col-8-12 xs-col-off-2-12 sm-col-8-12 sm-col-off-2-12 md-col-6-12 md-col-off-6-12 col-6-12 col-off-6-12 image"></div>
      </div>
      <!-- Design Principles -->
      <div class="row align-items-center">
        <div class="xs-col-10-12 xs-col-off-1-12 sm-col-10-12 sm-col-off-1-12 col-6-12">
          <img class="xs-hide sm-hide" src="assets/images/splash/principles-lg.png" alt="">
          <img class="md-hide lg-hide xl-hide m-b-40" src="assets/images/splash/principles-sm.png" alt="">
        </div>
        <div class="xs-col-12-12 sm-col-10-12 sm-col-off-1-12 col-6-12">
          <div class="row">
            <div class="xs-col-10-12 xs-col-off-1-12 sm-col-10-12 sm-col-off-1-12 col-4-6 col-off-1-6">
              <p class="is-grey-600 m-b-24"><i class="d-icon d-partners m-r-12"></i><span class="mono">Design</span></p>
              <h1 class="is-grey-800">Design fundamentals + UX best practices</h1>
              <p class="is-grey-800 m-t-40">Whether it’s a question about typography or responsive behavior, our
                principles have the answers you’re looking for.</p>
              <div class="flex justify-content-start">
                <a href="{{ site.data.navigation.static.principles }}" class="cover-button m-t-40">View Principles <i
                    class="d-icon d-arrow-right m-l-18"></i></a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    
    <!-- Guides -->
    <div class="container" style="margin-bottom: 230px;">
      <div class="row" style="margin-top: 300px; margin-bottom: 80px;">
        <div class="xs-col-10-12 xs-col-off-1-12 sm-col-8-12 md-col-6-12 lg-col-5-12 xl-col-5-12">
          <p class="is-grey-600 m-b-24"><i class="d-icon d-partners m-r-12"></i><span class="mono">Design + Develop</span></p>
          <h1 class="is-grey-800">Everything you need to jump right in</h1>
          <p class="is-grey-800 m-t-40">Whether you're a designer or developer get started with Denali in minutes using our handy guides and resources.</p>
        </div>
      </div>

      <div class="row">
        <a class="col has-bg-orange-500 p-50 m-20 guides getting-started"
          href="{{ site.data.navigation.static.docs }}guides/get-started">
          <p class="is-grey-800 m-b-24"><i class="d-icon d-ai m-r-12"></i><span class="mono">Guides</span></p>
          <h1 class="is-grey-800 m-b-50">Setting up your project</h1>
          <i class="d-icon d-arrow-right is-large is-grey-800"></i>
        </a>

        <a class="col has-bg-yellow-500 p-50 m-20 guides templates" href="{{ site.data.navigation.static.resources }}">
          <p class="is-grey-800 m-b-24"><i class="d-icon d-tools m-r-12"></i><span class="mono">Resources</span></p>
          <h1 class="is-grey-800 m-b-50">UI Kits + HTML starter templates</h1>
          <i class="d-icon d-arrow-right is-large is-grey-800"></i>
        </a>
      </div>

      <div class="row">
        <a class="col has-bg-lime-500 p-50 m-20 guides custom-theme"
          href="{{ site.data.navigation.static.docs }}guides/themeable">
          <p class="is-grey-800 m-b-24"><i class="d-icon d-ai m-r-12"></i><span class="mono">Guides</span></p>
          <h1 class="is-grey-800 m-b-50">Creating custom themes</h1>
          <i class="d-icon d-arrow-right is-large is-grey-800"></i>
        </a>
      </div>
    </div>
  </div>

  <!-- Updates -->
  <div class="container-full">
    <div class="container">
      <div class="row" style="margin-top: 0px; margin-bottom: 0px;">

        <div class="xs-col-10-12 xs-col-off-1-12 sm-col-8-12 md-col-6-12 lg-col-5-12 xl-col-5-12">
          <p class="is-grey-600 m-b-24"><i class="d-icon d-star m-r-12"></i><span class="mono">Updates</span>
          </p>
          <h1 class="is-grey-800">What’s new</h1>
          <p class="is-grey-800 m-t-40">We’re always pushing new improvements. Check out the latest below and view
            previous updates on our <a class="splash-link" href="{{ site.data.navigation.static.docs }}guides/whats-new">whats new page.</a>
            </p>
        </div>
      </div>

      <div class="row updates-container" style="margin-top: 80px; margin-bottom: 200px;">
        <a href="https://medium.com/denali-design/reimagining-themeable-design-systems-with-denali-open-source-738c9c2dab8d" target="_blank" class="col updates">
          <p class="date">Apr 29, 2020</p>
          <p class="title">New & Improved Denali CSS</p>
          <p class="text">We bundled up all the user feedback and enhanced components in...</p>
          <p class="action">Read More<i class="d-icon d-arrow-right m-l-10"></i></p>
        </a>
        <a href="https://denali-design.github.io/denali-icon-font/docs/#healthcare" class="col updates">
          <p class="date">Apr 8, 2020</p>
          <p class="title">New Healthcare & Horoscope Icons</p>
          <p class="text">100+ new icons. Our main focus for this release is healthcare and horoscope.</p>
          <p class="action">View Icons<i class="d-icon d-arrow-right m-l-10"></i></p>
        </a>
        <a href="{{ site.data.navigation.static.principles }}/responsive-grid" class="col updates">
          <p class="date">Jan 22, 2020</p>
          <p class="title">Introducing layout principles</p>
          <p class="text">Clear guidelines on how to adapt your product seamlessly to different screen...</p>
          <p class="action">Read Principles<i class="d-icon d-arrow-right m-l-10"></i></p>
        </a>
      </div>
    </div>
  </div>
  
  <!-- Quotes -->
  <div class="container-full quotes-container">
    <div class="container">
      <div class="row quotes-title-section">
        <div class="xs-col-12-12 sm-col-10-12 sm-col-off-1-12 md-col-8-12 md-col-off-2-12 lg-col-6-12 lg-col-off-3-12
          xl-col-6-12 xl-col-off-3-12">
          <p class="is-grey-600 m-b-24"><i class="d-icon d-megaphone m-r-12"></i><span class="mono">Success stories</span></p>
          <h1 class="is-grey-800">Hear from our partners</h1>
          <p class="is-grey-800 m-t-40">From developer productivity tools to open source projects, Denali gives you the resources to bring your products to life.</p>
        </div>
      </div>

      <div class="row">
        <div class="xs-col-12-12 sm-col-10-12 sm-col-off-1-12 md-col-9-12 md-col-off-3-12 lg-col-7-12 lg-col-off-4-12 xl-col-7-12 xl-col-off-4-12 quote-text">
        
          <!-- Verizon Quote -->
          <div class="row quote-one">
            <div class="xs-col-10-12 xs-col-off-1-12 sm-col-10-12 sm-col-off-1-12 md-col-5-9 md-col-off-3-9 lg-col-6-9 lg-col-off-2-9 xl-col-6-9 xl-col-off-2-9">
              <p class="is-grey-500"><i class="d-icon d-computer-code m-r-12"></i><span class="mono">Increasing
                  productivity</span></p>
              <p class="is-grey-100 m-t-50 quote-content-text">“For teams without a designer, creating professional
                looking UIs is a challenge. Denali empowers developers to build great experiences quickly and
                confidently”</p>
              <div class="quote-contact">
                <img src="assets/images/splash/quote/jon-kilroy.jpg" alt="">
                <div>
                  <p class="name">Jon Kilroy</p>
                  <p class="contact-title">Sr Principle Architect</p>
                </div>
              </div>
              <div class="progress-bar">
                <div class="active-bar"></div>
              </div>
            </div>
          </div>
        
          <!-- Screwdriver.cd Quote -->
          <div class="row quote-two">
            <div
              class="xs-col-10-12 xs-col-off-1-12 sm-col-10-12 sm-col-off-1-12 md-col-5-9 md-col-off-3-9 lg-col-6-9 lg-col-off-2-9 xl-col-6-9 xl-col-off-2-9">
              <p class="is-grey-500"><i class="d-icon d-computer-code m-r-12"></i><span class="mono">Increasing
                  productivity</span></p>
              <p class="is-grey-100 m-t-50 quote-content-text">“Denali is an ambitious design system to build ambitious web application! It has a slick look and feel, and can pick &
              choose CSS and icons selectively.”</p>
              <div class="quote-contact">
                <img src="assets/images/splash/quote/alan-dong.jpg" alt="">
                <div>
                  <p class="name">Alan Dong</p>
                  <p class="contact-title">Front-end Engineer</p>
                </div>
              </div>
              <div class="progress-bar">
                <div class="active-bar"></div>
              </div>
            </div>
          </div>
        
          <!-- Athenz Quote -->
          <div class="row quote-three">
            <div
              class="xs-col-10-12 xs-col-off-1-12 sm-col-10-12 sm-col-off-1-12 md-col-5-9 md-col-off-3-9 lg-col-6-9 lg-col-off-2-9 xl-col-6-9 xl-col-off-2-9">
              <p class="is-grey-500"><i class="d-icon d-computer-code m-r-12"></i><span class="mono">Increasing
                  productivity</span></p>
              <p class="is-grey-100 m-t-50 quote-content-text">“Denali enabled rapid development of Athenz UI and made
                it possible to have a single implementation for both open source and on-prem deployments.”</p>
              <div class="quote-contact">
                <!-- <img src="assets/images/splash/profile.png" alt=""> -->
                <div>
                  <p class="name">Pratik Gote</p>
                  <p class="contact-title">Front-end developer</p>
                </div>
              </div>
              <div class="progress-bar">
                <div class="active-bar"></div>
              </div>
            </div>
          </div>

        </div>
      </div>

      <div class="row">
        <div class="xs-hide sm-hide col-4-12 lg-col-off-1-12 xl-col-off-1-12 quote-button">
          <div class="quote-item">
            <div class="company-image"><i class="d-icon d-verizon-check"></i></div>
            <div class="context">
              <p class="company">Verizon Media</p>
              <p class="category">Enterprise tools</p>
            </div>
          </div>

          <div class="quote-item">
            <div class="company-image"><i class="d-icon d-screwdriver"></i></div>
            <div class="context">
              <p class="company">Screwdriver.cd</p>
              <p class="category">CI/CD Platform</p>
            </div>
          </div>

          <div class="quote-item">
            <div class="company-image"><i class="d-icon d-athenz"></i></div>
            <div class="context">
              <p class="company">Athenz</p>
              <p class="category">Security</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- Footer -->
  <div class="container-full" style="
    background: #002B66;">
    <div class="container">
      {% include footer-splash.html %}
    </div>
  </div>
</div>

{% include modals.html %}

<script>
  // Theme Section
  function themeScroll() {
    var windowHeight = window.innerHeight;
    var windowScroll = window.scrollY;

    var code = document.getElementById("themeImageCode");
    var imageTop = document.getElementById("image");
    var imageOne = imageTop.offsetTop + windowHeight - 800;
    var imageTwo = imageTop.offsetTop + windowHeight + 200;

    if (windowScroll > imageOne && windowScroll < imageTwo) { 
      imageTop.classList.remove("denali");
      imageTop.classList.add("dark"); 
      imageTop.classList.remove("purple");

      code.innerHTML = "dark-theme";
    } else if (windowScroll > imageTwo ) {
      imageTop.classList.remove("denali");
      imageTop.classList.remove("dark");
      imageTop.classList.add("purple");

      code.innerHTML = "purple-theme";
    } else {
      imageTop.classList.add("denali");
      imageTop.classList.remove("dark");
      imageTop.classList.remove("purple");

      code.innerHTML = "denali-theme";
    }
  }

  // Nav Menu Toggle
  document.getElementById('navToggle').addEventListener("click", toggleMenu);
  function toggleMenu() {
    document.getElementById('navMenuContent').classList.toggle("is-active");
  }

  // Quote Buttons
  var quoteItem = document.getElementsByClassName('quote-item');

  function quoteSwitch() {
    quoteSwitchOne();
    setTimeout(quoteSwitchTwo, 8000);
    setTimeout(quoteSwitchThree, 16000);
    setTimeout(quoteSwitch, 24000);
  }

  quoteSwitch();

  function quoteSwitchOne() {
    quoteItem[0].classList.add('active');
    quoteItem[1].classList.remove('active');
    quoteItem[2].classList.remove('active');
  }

  function quoteSwitchTwo() {
    quoteItem[0].classList.remove('active');
    quoteItem[1].classList.add('active');
    quoteItem[2].classList.remove('active');
  }

  function quoteSwitchThree() {
    quoteItem[0].classList.remove('active');
    quoteItem[1].classList.remove('active');
    quoteItem[2].classList.add('active');
  }

  // document.body.addEventListener("scroll", themeScroll());

  var animation = bodymovin.loadAnimation({
    container: document.getElementById('denaliCover'), // Required
    path: 'assets/images/splash/data.json', // Required
    renderer: 'svg', // Required
    loop: true, // Optional
    autoplay: true, // Optional
  })
</script>