---
layout: base
---
<style>
  .themeable-signup {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    overflow: hidden;
    color: #000000;
    transition: 300ms;
  }
  .themeable-signup.dark {
    background-color: #11191F;
    color: #fff !important;
    transition: 300ms;
  }
  .themeable-signup > h1 {
    font-family: "Montserrat", sans-serif;
    font-weight: 900;
    color: #000000;
    font-size: 36px;
    letter-spacing: 0px;
    line-height: 1.2;
    text-align: center;
    margin-top: 100px;
    padding: 0px 20px;
  }
  .themeable-signup.dark > h1 {
    color: #fff;
  }
  .themeable-signup > p {
    font-family: "Montserrat", sans-serif;
    color: #000000;
    opacity: .5;
    font-size: 15px;
    letter-spacing: 0px;
    line-height: 1.4;
    text-align: center;
    margin-top: 20px;
    max-width: 670px;
    padding: 0px 20px;
    margin-bottom: 40px;
    font-weight: 400;
  }
  .themeable-signup.dark > p {
    color: #fff;
  }
  .logo {
    height: 40px;
    width: calc(100% - 80px);
    padding: 30px 40px;
    box-sizing: content-box;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .logo img {
    height: 40px;
  }
  .dark > .logo img.default {
    display: none;
  }

  .logo .d-icon {
    transform: rotate(0deg);
    transition: 300ms;
    transition-timing-function: cubic-bezier(.37,1.48,.5,1);
  }
  .dark > .logo .d-icon {
    color: #ffffff;
    transform: rotate(180deg);
    transition: 300ms;
    transition-timing-function: cubic-bezier(.37,1.48,.5,1);
  }
  .logo img.dark {
    display: none;
  }
  .dark > .logo img.dark {
    display: block;
  }
  .newsletter-button {
    display: inline-flex;
    font-family: "Montserrat", sans-serif;
    justify-content: center;
    align-items: center;
    background: #016EFF;
    border-radius: 14px;
    font-size: 18px;
    color: #fff;
    padding: 12px 24px 13px 24px;
    height: 50px;
    white-space: nowrap;
    margin: 0px 5px;
    font-weight: 700;
    -webkit-appearance: none;
  }
  .newsletter-image {
    width: 100%;
    height: 89%;
    margin-top: 45px;
    background-image: url('{{ site.url }}/assets/images/themeable/newsletter-components-denali.png');
    background-position: top center;
    background-repeat: no-repeat;
    background-size: cover;
  }
  .dark > .newsletter-image {
    background-image: url('{{ site.url }}/assets/images/themeable/newsletter-components-dark.png');
  }
  @media (max-width: 670px) {
    .newsletter-button {
      margin: 5px 0px;
    }
    .themeable-signup > h1 {
      margin-top: 60px;
    }
    .logo {
      padding: 20px 20px 0px 20px;
      margin-top: 20px;
    }
    .newsletter-image {
      margin-top: 65px;
    }
  }
</style>

<div class="themeable-signup" id="themeParent">
  <div class="logo">
    <a href="{{ site.url }}">
      <img class="default" src="{{ site.url }}/assets/images/denali-logo-black.png" alt="Back to Denali home page">
      <img class="dark" src="{{ site.url }}/assets/images/denali-logo.png" alt="Back to Denali home page">
    </a>
    <i class="d-icon d-dark-mode is-medium" onclick="toggleDarkTheme()"></i>
  </div>

  <h1>Denali Themeable <br>
    Sign Up for Early Access</h1>
  <p>Experience Denali Themable before it’s available to the public by joining our Slack channel. You’ll get insider
    first looks at the product, updates, behind the scenes action, and more.</p>
  <a class="newsletter-button" href="https://join.slack.com/t/denali-design/shared_invite/enQtNzk0MTE2NjU3MzE0LTM5NWFmMGFmZmFhZjVhMzdjMzYzMDQ4ZGNhZjYxNGUwMzgxMWRmODc4MWIzYTE3YzQ5OWMyM2IzMTkxZGExYWY" target="_blank">Join our Slack</a>

  <div class="newsletter-image"></div>
</div>

<script>
  var themeParent = document.getElementById('themeParent');

  function toggleDarkTheme() {
    themeParent.classList.toggle('dark');
  }
</script>