<style>

    .tooltip .tooltiptext {
  width:128px;
  font-size: 12px;
  background-color: #3570F4;
  color: #fff;
  text-align: center;
  border-radius: 4px;
  padding: 8px 8px;
  position: absolute;
  z-index: 1;
  margin-left: 152px;
  margin-top:38px;
}

.tooltip .tooltiptext::after {
  content: "";
  position: absolute;
  bottom: 100%;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: transparent transparent #3570F4 transparent;
}

.toolTipFadeTwo{
    opacity:0;
}

.toolTipAnimation {
    animation: fadeInOut 2s linear forwards;
}

@keyframes fadeInOut {
 0% { opacity:0; }
 25% { opacity:1; }
 90% { opacity:1; }
 100% { opacity:0; }
}


</style>

<div class="input m-t-1 m-b-3" style="display: flex; align-items: stretch; justify-content: center; width: 500px;">
    <input type="text" value="git@github.com:denali-system-language/denali-icons.git" id="git-icons" style="flex: 1; border-bottom:none;">
    <a class="toolTipLinkTwo" style="display: inline-flex; align-items: center; padding-right:12px; border-radius:0px 2px 2px 0px; background: rgba(53, 112, 244, 0.05);" onclick="copyIcons()"><span>Copy</span></a>
    <div class="tooltip" id="toolTipIcons">
        <span class="tooltiptext toolTipFadeTwo">Copied to clipboard!</span>
    </div>
</div>


<script type="text/javascript">
    function copyIcons() {
        var copyIcons = document.getElementById("git-icons");
        var toolTipIcons = document.getElementById("toolTipIcons");
        copyIcons.select();
        document.execCommand("Copy");
        toolTipIcons.style.display = "block";
        setTimeout(function() {
            toolTipIcons.style.display = "none";
        }, 2000);
    }


    var toolTipFadeTwo = document.querySelector(".toolTipFadeTwo");
    var toolTipLinkTwo = document.querySelector(".toolTipLinkTwo");
    toolTipLinkTwo.addEventListener("click", function() {
        toolTipFadeTwo.classList.add("toolTipAnimation");
        setTimeout(function() {
            toolTipFadeTwo.classList.remove("toolTipAnimation");
        }, 2000);
    });
</script>